/* css styles */

// Source Serif 4
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
// Work Sans
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// color-variables
$chalk-white:#F9F7F4;
$putty-beige:#D7CEC7;
$charcoal-wood:#5F5C57;
$near-black: #212121;
$ragin-beige: #fff5d7;
$link-pink: #ff3a22;
$sleuthe-yellow: #feb300;
// Colors
$navbar-bg:$charcoal-wood;
$body-bg:$ragin-beige;
$link-color:$link-pink;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family:'Source Serif 4', serif;
  color:$near-black;
  weight: 900;
}

body {
  background-color:$body-bg;  // Light Mint Green for body background
  color:$near-black;          // Near Black for body text
  font-family:'Work Sans', sans-serif;
  text-align: justify;
}

/*-- scss:rules --*/
.navbar-nav .nav-item .nav-link {
    font-family: "Work Sans", sans-serif;
    color: $chalk-white;
}

